body {
  background-color: #f9f9f9;
  color: #333333;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

h1,
h2,
h3 {
  color: #1e90ff;
  text-align: center;
}

p {
  text-align: justify;
}
/* The #add_info id only effects the paragraph with the add_info ID */
#add_info {
  background-color: #fcfc3c;
  color: #333333;
}

/* The #skip id only effects the links in the paragraph with the skip ID */
p#skip a {
  color: #4800ff;
  text-decoration: none;
}
p#skip a:hover {
  text-decoration: underline;
}

a {
  color: #ff4000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

article {
  background-color: #ffffff;
  border: 2px solid #1e90ff;
  padding: 20px;
  margin: 20px auto;
  max-width: 850px;
}
