/* Set the position and size of the slideshow container */
.slideshow-container {
    position: relative;
    width: 25%;
    padding: 1%;
    float: right;
    right: 10%;
}

/* Hide all slideshow slides */
.slideshow-slide {
    display: none;
    text-align: center;
}

/* Set the maximum width of the slideshow images to 100%, maintain their aspect ratio, and center them within their containers */
.slideshow-slide img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

/* Style the navigation buttons */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the next button on the right side and set its border radius */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Change the background color of the navigation buttons on hover */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Show the current slide */
.active-slide {
    display: block;
}
/* Set the style for the section containing the about information */
div.aboutsection {
width: 50%; /* Set the width of the section to 50% of the parent element */
float: left; /* Float the section to the left so other content can be displayed beside it */
padding-left: 1.5em; /* Add padding to the left side of the section to create some space between content */
}

/* Set the style for the paragraphs within the about section */
.aboutsection p{
text-indent: 2em; /* Indent the first line of each paragraph by 2em */
font-size: 1.5em; /* Set the font size of the paragraphs to 1.5em */
}